# KNN

## Motivation

The principle behind nearest neighbor methods is to find a predefined number of training samples closest in distance to the new point, and predict the label from these. The number of samples can be a user-defined constant (k-nearest neighbor learning), or vary based on the local density of points (radius-based neighbor learning). The distance can, in general, be any metric measure: standard Euclidean distance is the most common choice. Neighbors-based methods are known as non-generalizing machine learning methods, since they simply “remember” all of its training data

~[scikit-learn](http://scikit-learn.org/stable/modules/neighbors.html)

It's a beautiful day in this neighborhood,
A beautiful day for a neighbor.
Would you be mine?
Could you be mine?

~ Mr. Rogers

**Readings**: 
* openCV: http://opencv-python-tutroals.readthedocs.org/en/latest/py_tutorials/py_ml/py_knn/py_knn_understanding/py_knn_understanding.html
* dataquest: https://www.dataquest.io/blog/k-nearest-neighbors/  
* k-d tree: https://ashokharnal.wordpress.com/2015/01/20/a-working-example-of-k-d-tree-formation-and-k-nearest-neighbor-algorithms/
* euclidean: http://machinelearningmastery.com/tutorial-to-implement-k-nearest-neighbors-in-python-from-scratch/

## Data

In [120]:
import pandas
import numpy
import csv
#from scipy.stats import mode
from sklearn import neighbors
from sklearn.neighbors import DistanceMetric 
from pprint import pprint

MY_TITANIC_TRAIN = 'train.csv'
MY_TITANIC_TEST = 'test.csv'
titanic_dataframe = pandas.read_csv(MY_TITANIC_TRAIN, header=0)
print('length: {0} '.format(len(titanic_dataframe)))
titanic_dataframe.head(5)

length: 891

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

* Remove Columns

In [121]:
titanic_dataframe.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
print('dropped')

dropped

In [122]:
titanic_dataframe.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

* Which are the factors?

In [123]:
titanic_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.7+ KB

Pre-Processing

In [124]:
# age_mean = numpy.mean(titanic_dataframe['Age'])
titanic_dataframe['Age'].fillna(numpy.mean(titanic_dataframe['Age']),inplace=True)
# titanic_dataframe.fillna(value=age_mean, axis=0)
titanic_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.7+ KB

In [125]:
titanic_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.7+ KB

In [126]:
# titanic_dataframe = titanic_dataframe.dropna()
titanic_dataframe['Embarked'].fillna(titanic_dataframe['Embarked'].mode().item(),inplace=True)
titanic_dataframe['Port'] = titanic_dataframe['Embarked'].map({'C':1, 'S':2, 'Q':3}).astype(int)

titanic_dataframe['Gender'] = titanic_dataframe['Sex'].map({'female': 0, 'male': 1}).astype(int)
titanic_dataframe = titanic_dataframe.drop(['Sex', 'Embarked', 'PassengerId', ], axis=1)
titanic_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Port        891 non-null int64
Gender      891 non-null int64
dtypes: float64(2), int64(6)
memory usage: 55.8 KB

In [127]:
#Convert Columns to List
cols = titanic_dataframe.columns.tolist()
titanic_dataframe = titanic_dataframe[cols]


train_cols = [x for x in cols if x != 'Survived']
target_cols = [cols[0]]

print(train_cols, target_cols)
train_data = titanic_dataframe[train_cols]
target_data = titanic_dataframe[target_cols]

['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Port', 'Gender'] ['Survived']

In [128]:
algorithm_data_model = neighbors.KNeighborsClassifier()
algorithm_data_model.fit(train_data.values, [value[0] for value in target_data.values])

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [129]:
df_test = pandas.read_csv('test.csv')
ids = df_test.PassengerId.values
df_test.drop(['Name', 'Ticket', 'Cabin', 'PassengerId'], axis=1, inplace=True)

In [130]:
print(len(df_test))
df_test.info()

418
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
Pclass      418 non-null int64
Sex         418 non-null object
Age         332 non-null float64
SibSp       418 non-null int64
Parch       418 non-null int64
Fare        417 non-null float64
Embarked    418 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 22.9+ KB

In [131]:
mean_age = df_test.Age.mean()
df_test.Age.fillna(mean_age, inplace=True)

mean_fare = df_test.Fare.mean()
df_test.Fare.fillna(mean_fare, inplace=True)


df_test['Gender'] = df_test['Sex'].map({'female': 0, 'male': 1}).astype(int)
df_test['Port'] = df_test['Embarked'].map({'C':1, 'S':2, 'Q':3}).astype(int)
df_test = df_test.drop(['Sex', 'Embarked'], axis=1)


test_data = df_test.values
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
Pclass    418 non-null int64
Age       418 non-null float64
SibSp     418 non-null int64
Parch     418 non-null int64
Fare      418 non-null float64
Gender    418 non-null int64
Port      418 non-null int64
dtypes: float64(2), int64(5)
memory usage: 22.9 KB

In [132]:
titanic_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Fare        891 non-null float64
Port        891 non-null int64
Gender      891 non-null int64
dtypes: float64(2), int64(6)
memory usage: 55.8 KB

In [133]:
output = algorithm_data_model.predict(df_test).astype(int)
print(output[:10])

[0 0 0 0 0 0 0 1 0 1]

In [134]:
result = numpy.c_[ids.astype(int), output]

In [135]:
print(result)

[[ 892    0]
 [ 893    0]
 [ 894    0]
 [ 895    0]
 [ 896    0]
 [ 897    0]
 [ 898    0]
 [ 899    1]
 [ 900    0]
 [ 901    1]
 [ 902    0]
 [ 903    0]
 [ 904    1]
 [ 905    0]
 [ 906    1]
 [ 907    1]
 [ 908    0]
 [ 909    0]
 [ 910    0]
 [ 911    0]
 [ 912    0]
 [ 913    1]
 [ 914    1]
 [ 915    1]
 [ 916    1]
 [ 917    0]
 [ 918    1]
 [ 919    0]
 [ 920    0]
 [ 921    0]
 [ 922    1]
 [ 923    1]
 [ 924    0]
 [ 925    0]
 [ 926    1]
 [ 927    0]
 [ 928    0]
 [ 929    0]
 [ 930    0]
 [ 931    1]
 [ 932    0]
 [ 933    0]
 [ 934    0]
 [ 935    0]
 [ 936    1]
 [ 937    0]
 [ 938    0]
 [ 939    0]
 [ 940    1]
 [ 941    0]
 [ 942    1]
 [ 943    0]
 [ 944    1]
 [ 945    1]
 [ 946    0]
 [ 947    0]
 [ 948    0]
 [ 949    0]
 [ 950    0]
 [ 951    1]
 [ 952    0]
 [ 953    1]
 [ 954    0]
 [ 955    0]
 [ 956    1]
 [ 957    0]
 [ 958    0]
 [ 959    0]
 [ 960    0]
 [ 961    1]
 [ 962    0]
 [ 963    0]
 [ 964    0]
 [ 965    0]
 [ 966    1]
 [ 967    0]
 [ 968    0]
 [ 969    0]
 [ 970    0]
 [ 971    0]
 [ 972    1]
 [ 973    1]
 [ 974    1]
 [ 975    0]
 [ 976    0]
 [ 977    0]
 [ 978    1]
 [ 979    0]
 [ 980    0]
 [ 981    1]
 [ 982    0]
 [ 983    0]
 [ 984    1]
 [ 985    0]
 [ 986    0]
 [ 987    0]
 [ 988    1]
 [ 989    0]
 [ 990    0]
 [ 991    0]
 [ 992    1]
 [ 993    0]
 [ 994    0]
 [ 995    0]
 [ 996    0]
 [ 997    0]
 [ 998    0]
 [ 999    0]
 [1000    0]
 [1001    0]
 [1002    0]
 [1003    0]
 [1004    1]
 [1005    0]
 [1006    1]
 [1007    0]
 [1008    0]
 [1009    1]
 [1010    1]
 [1011    0]
 [1012    0]
 [1013    0]
 [1014    1]
 [1015    0]
 [1016    0]
 [1017    0]
 [1018    0]
 [1019    0]
 [1020    1]
 [1021    0]
 [1022    0]
 [1023    0]
 [1024    0]
 [1025    0]
 [1026    0]
 [1027    0]
 [1028    0]
 [1029    0]
 [1030    0]
 [1031    0]
 [1032    0]
 [1033    1]
 [1034    1]
 [1035    0]
 [1036    0]
 [1037    0]
 [1038    0]
 [1039    0]
 [1040    0]
 [1041    0]
 [1042    1]
 [1043    0]
 [1044    0]
 [1045    0]
 [1046    0]
 [1047    0]
 [1048    0]
 [1049    0]
 [1050    0]
 [1051    0]
 [1052    0]
 [1053    1]
 [1054    0]
 [1055    0]
 [1056    1]
 [1057    0]
 [1058    1]
 [1059    0]
 [1060    0]
 [1061    0]
 [1062    0]
 [1063    0]
 [1064    0]
 [1065    0]
 [1066    0]
 [1067    0]
 [1068    0]
 [1069    1]
 [1070    0]
 [1071    1]
 [1072    0]
 [1073    1]
 [1074    1]
 [1075    0]
 [1076    1]
 [1077    0]
 [1078    1]
 [1079    0]
 [1080    0]
 [1081    0]
 [1082    1]
 [1083    0]
 [1084    1]
 [1085    0]
 [1086    0]
 [1087    0]
 [1088    1]
 [1089    0]
 [1090    0]
 [1091    0]
 [1092    0]
 [1093    1]
 [1094    1]
 [1095    0]
 [1096    0]
 [1097    0]
 [1098    0]
 [1099    0]
 [1100    1]
 [1101    0]
 [1102    0]
 [1103    0]
 [1104    0]
 [1105    0]
 [1106    0]
 [1107    0]
 [1108    0]
 [1109    1]
 [1110    1]
 [1111    0]
 [1112    0]
 [1113    0]
 [1114    0]
 [1115    0]
 [1116    0]
 [1117    1]
 [1118    0]
 [1119    0]
 [1120    0]
 [1121    0]
 [1122    1]
 [1123    1]
 [1124    0]
 [1125    0]
 [1126    1]
 [1127    0]
 [1128    1]
 [1129    0]
 [1130    0]
 [1131    0]
 [1132    0]
 [1133    0]
 [1134    1]
 [1135    0]
 [1136    0]
 [1137    1]
 [1138    0]
 [1139    0]
 [1140    0]
 [1141    0]
 [1142    1]
 [1143    0]
 [1144    1]
 [1145    0]
 [1146    0]
 [1147    0]
 [1148    0]
 [1149    0]
 [1150    0]
 [1151    0]
 [1152    0]
 [1153    0]
 [1154    0]
 [1155    1]
 [1156    0]
 [1157    0]
 [1158    0]
 [1159    0]
 [1160    0]
 [1161    0]
 [1162    1]
 [1163    0]
 [1164    1]
 [1165    0]
 [1166    0]
 [1167    1]
 [1168    0]
 [1169    0]
 [1170    0]
 [1171    0]
 [1172    0]
 [1173    1]
 [1174    0]
 [1175    1]
 [1176    1]
 [1177    0]
 [1178    0]
 [1179    1]
 [1180    0]
 [1181    0]
 [1182    0]
 [1183    0]
 [1184    0]
 [1185    1]
 [1186    0]
 [1187    0]
 [1188    1]
 [1189    0]
 [1190    0]
 [1191    0]
 [1192    0]
 [1193    0]
 [1194    0]
 [1195    0]
 [1196    0]
 [1197    0]
 [1198    1]
 [1199    1]
 [1200    1]
 [1201    0]
 [1202    0]
 [1203    0]
 [1204    0]
 [1205    0]
 [1206    1]
 [1207    0]
 [1208    1]
 [1209    0]
 [1210    1]
 [1211    1]
 [1212    0]
 [1213    0]
 [1214    0]
 [1215    1]
 [1216    1]
 [1217    0]
 [1218    0]
 [1219    1]
 [1220    0]
 [1221    0]
 [1222    0]
 [1223    0]
 [1224    0]
 [1225    0]
 [1226    1]
 [1227    0]
 [1228    1]
 [1229    0]
 [1230    1]
 [1231    0]
 [1232    0]
 [1233    0]
 [1234    0]
 [1235    1]
 [1236    0]
 [1237    0]
 [1238    0]
 [1239    0]
 [1240    0]
 [1241    0]
 [1242    1]
 [1243    0]
 [1244    0]
 [1245    1]
 [1246    1]
 [1247    1]
 [1248    1]
 [1249    0]
 [1250    0]
 [1251    0]
 [1252    0]
 [1253    0]
 [1254    0]
 [1255    0]
 [1256    1]
 [1257    0]
 [1258    0]
 [1259    0]
 [1260    0]
 [1261    0]
 [1262    0]
 [1263    1]
 [1264    0]
 [1265    1]
 [1266    1]
 [1267    1]
 [1268    0]
 [1269    0]
 [1270    0]
 [1271    0]
 [1272    0]
 [1273    0]
 [1274    1]
 [1275    0]
 [1276    0]
 [1277    1]
 [1278    0]
 [1279    0]
 [1280    0]
 [1281    0]
 [1282    1]
 [1283    0]
 [1284    0]
 [1285    0]
 [1286    1]
 [1287    1]
 [1288    0]
 [1289    1]
 [1290    0]
 [1291    0]
 [1292    1]
 [1293    0]
 [1294    1]
 [1295    0]
 [1296    0]
 [1297    0]
 [1298    0]
 [1299    1]
 [1300    0]
 [1301    1]
 [1302    0]
 [1303    1]
 [1304    0]
 [1305    0]
 [1306    1]
 [1307    0]
 [1308    0]
 [1309    0]]

In [138]:
prediction_file = open('ourpredictions.csv', 'w')
open_file = csv.writer(prediction_file)
open_file.writerow(['PassengerId', 'Survived'])
open_file.writerows(zip(ids, output))
prediction_file.close()

In [143]:

%timeit algorithm_data_model.predict(df_test).astype(int)

1000 loops, best of 3: 1.64 ms per loop

Timeit seems to be fairly quick for what it's doing.

Kaggle Placement: 66.029% Accurate. 3727th place.
Seems about right for how we are calculating this.