In [333]:
import pandas as pd
import numpy as np
import csv
from sklearn.metrics import accuracy_score
from sklearn.cross_validation import train_test_split
from sklearn.cluster import KMeans
from pprint import pprint

MY_TITANIC_TRAIN = '../knn/train.csv'
MY_TITANIC_TEST = '../knn/test.csv'
titanic_dataframe = pd.read_csv(MY_TITANIC_TRAIN, header=0)
titanic_test = pd.read_csv(MY_TITANIC_TEST, header=0)

In [334]:
titanic_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [335]:
titanic_dataframe.drop(['Name', 'Ticket', 'Cabin', 'Embarked', 'Sex', 'Pclass'], axis=1, inplace=True)
print('length: {} '.format(len(titanic_dataframe)))
print(titanic_dataframe.head(5))

length: 891
   PassengerId  Survived   Age  SibSp  Parch     Fare
0            1         0  22.0      1      0   7.2500
1            2         1  38.0      1      0  71.2833
2            3         1  26.0      0      0   7.9250
3            4         1  35.0      1      0  53.1000
4            5         0  35.0      0      0   8.0500

In [336]:
titanic_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
dtypes: float64(2), int64(4)
memory usage: 41.8 KB

Fill in missing data from age with average age.

In [337]:
titanic_dataframe.Age.fillna(titanic_dataframe.Age.mean(), inplace=True)
titanic_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Fare           891 non-null float64
dtypes: float64(2), int64(4)
memory usage: 41.8 KB

Grab 20% of the data.

In [338]:
train, test = train_test_split(titanic_dataframe, test_size = 0.2)
y = train['Survived']
x = train.drop(['PassengerId', 'Survived'], axis=1)

           Age  SibSp  Parch      Fare
205   2.000000      0      1   10.4625
582  54.000000      0      0   26.0000
506  33.000000      0      2   26.0000
139  24.000000      0      0   79.2000
786  18.000000      0      0    7.4958
536  45.000000      0      0   26.5500
417  18.000000      0      2   13.0000
283  19.000000      0      0    8.0500
159  29.699118      8      2   69.5500
122  32.500000      1      0   30.0708
538  29.699118      0      0   14.5000
407   3.000000      1      1   18.7500
823  27.000000      0      1   12.4750
793  29.699118      0      0   30.6958
848  28.000000      0      1   33.0000
253  30.000000      1      0   16.1000
194  44.000000      0      0   27.7208
860  41.000000      2      0   14.1083
214  29.699118      1      0    7.7500
313  28.000000      0      0    7.8958
369  24.000000      0      0   69.3000
629  29.699118      0      0    7.7333
587  60.000000      1      1   79.2000
875  15.000000      0      0    7.2250
792  29.699118      8      2   69.5500
515  47.000000      0      0   34.0208
618   4.000000      2      1   39.0000
78    0.830000      0      2   29.0000
257  30.000000      0      0   86.5000
53   29.000000      1      0   26.0000
..         ...    ...    ...       ...
591  52.000000      1      0   78.2667
66   29.000000      0      0   10.5000
134  25.000000      0      0   13.0000
838  32.000000      0      0   56.4958
585  18.000000      0      2   79.6500
609  40.000000      0      0  153.4625
612  29.699118      1      0   15.5000
284  29.699118      0      0   26.0000
874  28.000000      1      0   24.0000
534  30.000000      0      0    8.6625
267  25.000000      1      0    7.7750
796  49.000000      0      0   25.9292
745  70.000000      1      1   71.0000
514  24.000000      0      0    7.4958
410  29.699118      0      0    7.8958
738  29.699118      0      0    7.8958
596  29.699118      0      0   33.0000
296  23.500000      0      0    7.2292
268  58.000000      0      1  153.4625
626  57.000000      0      0   12.3500
403  28.000000      1      0   15.8500
829  62.000000      0      0   80.0000
91   20.000000      0      0    7.8542
26   29.699118      0      0    7.2250
389  17.000000      0      0   12.0000
721  17.000000      1      0    7.0542
420  29.699118      0      0    7.8958
11   58.000000      0      0   26.5500
261   3.000000      4      2   31.3875
41   27.000000      1      0   21.0000

[712 rows x 4 columns]

In [339]:
kmeans = KMeans(n_clusters=2)
results = kmeans.fit_predict(x.values, y.values)
print(results[:5])

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0
 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0
 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0]

In [340]:
accuracy_score(y.values, results)

0.6235955056179775

We now know how accurate our predictions are. Now we can format our test.csv

In [342]:
titanic_test.drop(['Name', 'Ticket', 'Cabin', 'Embarked', 'Sex', 'Pclass'], axis=1, inplace=True)
print('length: {} '.format(len(titanic_test)))
print(titanic_test.head(5))

length: 418
   PassengerId   Age  SibSp  Parch     Fare
0          892  34.5      0      0   7.8292
1          893  47.0      1      0   7.0000
2          894  62.0      0      0   9.6875
3          895  27.0      0      0   8.6625
4          896  22.0      1      1  12.2875

In [343]:
titanic_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
PassengerId    418 non-null int64
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           417 non-null float64
dtypes: float64(2), int64(3)
memory usage: 16.4 KB

In [344]:
titanic_test.Age.fillna(titanic_test.Age.mean(), inplace=True)
titanic_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
PassengerId    418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           417 non-null float64
dtypes: float64(2), int64(3)
memory usage: 16.4 KB

In [345]:
titanic_test.Fare.fillna(titanic_test.Fare.mean(), inplace=True)
titanic_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
PassengerId    418 non-null int64
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           418 non-null float64
dtypes: float64(2), int64(3)
memory usage: 16.4 KB

Now we are ready to do our prediction...

In [346]:
results = kmeans.predict(titanic_test.drop(['PassengerId'], axis=1))
print(results)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0
 1 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 0 0]

In [347]:
ids = titanic_test.PassengerId.values

In [348]:
final_result = np.c_[ids.astype(int), results]

In [349]:
print(final_result)

[[ 892    0]
 [ 893    0]
 [ 894    0]
 [ 895    0]
 [ 896    0]
 [ 897    0]
 [ 898    0]
 [ 899    0]
 [ 900    0]
 [ 901    0]
 [ 902    0]
 [ 903    0]
 [ 904    0]
 [ 905    0]
 [ 906    0]
 [ 907    0]
 [ 908    0]
 [ 909    0]
 [ 910    0]
 [ 911    0]
 [ 912    0]
 [ 913    0]
 [ 914    0]
 [ 915    0]
 [ 916    1]
 [ 917    0]
 [ 918    0]
 [ 919    0]
 [ 920    0]
 [ 921    0]
 [ 922    0]
 [ 923    0]
 [ 924    0]
 [ 925    0]
 [ 926    0]
 [ 927    0]
 [ 928    0]
 [ 929    0]
 [ 930    0]
 [ 931    0]
 [ 932    0]
 [ 933    0]
 [ 934    0]
 [ 935    0]
 [ 936    0]
 [ 937    0]
 [ 938    0]
 [ 939    0]
 [ 940    0]
 [ 941    0]
 [ 942    0]
 [ 943    0]
 [ 944    0]
 [ 945    1]
 [ 946    0]
 [ 947    0]
 [ 948    0]
 [ 949    0]
 [ 950    0]
 [ 951    1]
 [ 952    0]
 [ 953    0]
 [ 954    0]
 [ 955    0]
 [ 956    1]
 [ 957    0]
 [ 958    0]
 [ 959    0]
 [ 960    0]
 [ 961    1]
 [ 962    0]
 [ 963    0]
 [ 964    0]
 [ 965    0]
 [ 966    1]
 [ 967    1]
 [ 968    0]
 [ 969    0]
 [ 970    0]
 [ 971    0]
 [ 972    0]
 [ 973    1]
 [ 974    0]
 [ 975    0]
 [ 976    0]
 [ 977    0]
 [ 978    0]
 [ 979    0]
 [ 980    0]
 [ 981    0]
 [ 982    0]
 [ 983    0]
 [ 984    0]
 [ 985    0]
 [ 986    0]
 [ 987    0]
 [ 988    0]
 [ 989    0]
 [ 990    0]
 [ 991    0]
 [ 992    0]
 [ 993    0]
 [ 994    0]
 [ 995    0]
 [ 996    0]
 [ 997    0]
 [ 998    0]
 [ 999    0]
 [1000    0]
 [1001    0]
 [1002    0]
 [1003    0]
 [1004    0]
 [1005    0]
 [1006    1]
 [1007    0]
 [1008    0]
 [1009    0]
 [1010    0]
 [1011    0]
 [1012    0]
 [1013    0]
 [1014    0]
 [1015    0]
 [1016    0]
 [1017    0]
 [1018    0]
 [1019    0]
 [1020    0]
 [1021    0]
 [1022    0]
 [1023    0]
 [1024    0]
 [1025    0]
 [1026    0]
 [1027    0]
 [1028    0]
 [1029    0]
 [1030    0]
 [1031    0]
 [1032    0]
 [1033    1]
 [1034    1]
 [1035    0]
 [1036    0]
 [1037    0]
 [1038    0]
 [1039    0]
 [1040    0]
 [1041    0]
 [1042    0]
 [1043    0]
 [1044    0]
 [1045    0]
 [1046    0]
 [1047    0]
 [1048    1]
 [1049    0]
 [1050    0]
 [1051    0]
 [1052    0]
 [1053    0]
 [1054    0]
 [1055    0]
 [1056    0]
 [1057    0]
 [1058    0]
 [1059    0]
 [1060    0]
 [1061    0]
 [1062    0]
 [1063    0]
 [1064    0]
 [1065    0]
 [1066    0]
 [1067    0]
 [1068    0]
 [1069    0]
 [1070    0]
 [1071    0]
 [1072    0]
 [1073    0]
 [1074    0]
 [1075    0]
 [1076    1]
 [1077    0]
 [1078    0]
 [1079    0]
 [1080    0]
 [1081    0]
 [1082    0]
 [1083    0]
 [1084    0]
 [1085    0]
 [1086    0]
 [1087    0]
 [1088    1]
 [1089    0]
 [1090    0]
 [1091    0]
 [1092    0]
 [1093    0]
 [1094    1]
 [1095    0]
 [1096    0]
 [1097    0]
 [1098    0]
 [1099    0]
 [1100    0]
 [1101    0]
 [1102    0]
 [1103    0]
 [1104    0]
 [1105    0]
 [1106    0]
 [1107    0]
 [1108    0]
 [1109    1]
 [1110    1]
 [1111    0]
 [1112    0]
 [1113    0]
 [1114    0]
 [1115    0]
 [1116    0]
 [1117    0]
 [1118    0]
 [1119    0]
 [1120    0]
 [1121    0]
 [1122    0]
 [1123    0]
 [1124    0]
 [1125    0]
 [1126    0]
 [1127    0]
 [1128    0]
 [1129    0]
 [1130    0]
 [1131    0]
 [1132    0]
 [1133    0]
 [1134    1]
 [1135    0]
 [1136    0]
 [1137    0]
 [1138    0]
 [1139    0]
 [1140    0]
 [1141    0]
 [1142    0]
 [1143    0]
 [1144    1]
 [1145    0]
 [1146    0]
 [1147    0]
 [1148    0]
 [1149    0]
 [1150    0]
 [1151    0]
 [1152    0]
 [1153    0]
 [1154    0]
 [1155    0]
 [1156    0]
 [1157    0]
 [1158    0]
 [1159    0]
 [1160    0]
 [1161    0]
 [1162    0]
 [1163    0]
 [1164    1]
 [1165    0]
 [1166    0]
 [1167    0]
 [1168    0]
 [1169    0]
 [1170    0]
 [1171    0]
 [1172    0]
 [1173    0]
 [1174    0]
 [1175    0]
 [1176    0]
 [1177    0]
 [1178    0]
 [1179    0]
 [1180    0]
 [1181    0]
 [1182    0]
 [1183    0]
 [1184    0]
 [1185    0]
 [1186    0]
 [1187    0]
 [1188    0]
 [1189    0]
 [1190    0]
 [1191    0]
 [1192    0]
 [1193    0]
 [1194    0]
 [1195    0]
 [1196    0]
 [1197    0]
 [1198    1]
 [1199    0]
 [1200    0]
 [1201    0]
 [1202    0]
 [1203    0]
 [1204    0]
 [1205    0]
 [1206    1]
 [1207    0]
 [1208    1]
 [1209    0]
 [1210    0]
 [1211    0]
 [1212    0]
 [1213    0]
 [1214    0]
 [1215    0]
 [1216    1]
 [1217    0]
 [1218    0]
 [1219    0]
 [1220    0]
 [1221    0]
 [1222    0]
 [1223    0]
 [1224    0]
 [1225    0]
 [1226    0]
 [1227    0]
 [1228    0]
 [1229    0]
 [1230    0]
 [1231    0]
 [1232    0]
 [1233    0]
 [1234    0]
 [1235    1]
 [1236    0]
 [1237    0]
 [1238    0]
 [1239    0]
 [1240    0]
 [1241    0]
 [1242    0]
 [1243    0]
 [1244    0]
 [1245    0]
 [1246    0]
 [1247    0]
 [1248    0]
 [1249    0]
 [1250    0]
 [1251    0]
 [1252    0]
 [1253    0]
 [1254    0]
 [1255    0]
 [1256    0]
 [1257    0]
 [1258    0]
 [1259    0]
 [1260    0]
 [1261    0]
 [1262    0]
 [1263    1]
 [1264    0]
 [1265    0]
 [1266    0]
 [1267    1]
 [1268    0]
 [1269    0]
 [1270    0]
 [1271    0]
 [1272    0]
 [1273    0]
 [1274    0]
 [1275    0]
 [1276    0]
 [1277    0]
 [1278    0]
 [1279    0]
 [1280    0]
 [1281    0]
 [1282    0]
 [1283    0]
 [1284    0]
 [1285    0]
 [1286    0]
 [1287    0]
 [1288    0]
 [1289    0]
 [1290    0]
 [1291    0]
 [1292    1]
 [1293    0]
 [1294    0]
 [1295    0]
 [1296    0]
 [1297    0]
 [1298    0]
 [1299    1]
 [1300    0]
 [1301    0]
 [1302    0]
 [1303    0]
 [1304    0]
 [1305    0]
 [1306    0]
 [1307    0]
 [1308    0]
 [1309    0]]

In [350]:
prediction_file = open('kmean_prediction.csv', 'w')
open_file = csv.writer(prediction_file)
open_file.writerow(['PassengerId', 'Survived'])
open_file.writerows(zip(ids, results))
prediction_file.close()

In [351]:
%timeit kmeans.predict(titanic_test.drop(['PassengerId'], axis=1))

1000 loops, best of 3: 706 µs per loop